/**************************************************
 * Main View
**************************************************/
#homeLabel {
  -fx-font-size: 35;
  -fx-font-weight: bold;
}

#statusLabel {
  -fx-padding: 2 5 2 5;
  -fx-text-fill: white;
  -fx-font-size: 15;
  -fx-background-color: -color-success-3;
  -fx-background-radius: 10;
  -fx-text-alignment: CENTER;
  -fx-border-radius: 10;
}

.control-menu {
  -fx-font-size: 15;
  -fx-background-radius: 15;
  -fx-padding: 10 40 10 40;
  -fx-border-radius: 15;
  -fx-border-width: 2;
  -fx-opacity: 1;

  &:hover {
    -fx-opacity: 0.9;
  }
}

#startButton {
  -fx-background-color: -color-danger-emphasis;
  -fx-border-color: -color-danger-emphasis;
  -fx-text-fill: white;
}

#passwordButton {
  -fx-background-color: -color-success-3;
  -fx-border-color: -color-success-3;
}

#restartButton {
  -fx-background-color: linear-gradient(to bottom right, -color-accent-3, -color-chart-6);
  -fx-border-color: linear-gradient(to bottom right, -color-accent-3, -color-chart-6);
  -fx-text-fill: white;
}

#moreButton {
  -fx-background-color: transparent;
  -fx-text-fill: -color-chart-6;
  -fx-border-color: -color-chart-6;
}

#logArea {
  -fx-font-family: "Lucida Console";
  -fx-font-size: 20;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-background-insets: 0;

  .content {
    -fx-padding: 0 15 0 15;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
  }

}