/**************************************************
 * Root
**************************************************/

.root {
  -fx-font-size: 15;
  -fx-font-weight: normal;
}

.root-pane {
  -fx-background-radius: 15;
  -fx-border-radius: 15;
}

