/**************************************************
 * Main View
**************************************************/
#homeLabel {
  -fx-font-size: 35;
  -fx-font-weight: bold;
}

#statusLabel {
  -fx-padding: 2 5 2 5;
  -fx-font-size: 15;
  -fx-background-radius: 10;
  -fx-text-alignment: CENTER;
  -fx-border-radius: 10;
}

.control-menu, #moreButton {
  -fx-font-size: 15;
  -fx-background-radius: 15;
  -fx-padding: 10 40;
  -fx-border-radius: 15;
  -fx-border-width: 2;
}

#startButton {
  -color-button-bg-focused: -color-button-bg;
  -fx-border-color: -color-button-bg;
}

#passwordButton {
  -color-button-bg: -color-success-3;
  -color-button-bg-hover: -color-button-bg;
  -color-button-bg-focused: -color-button-bg;
  -color-button-bg-pressed: -color-button-bg;
  -fx-border-color: -color-button-bg;
}

#restartButton {
  -color-button-bg: linear-gradient(to bottom right, -color-accent-3, -color-chart-6);
  -color-button-bg-hover: -color-button-bg;
  -color-button-bg-focused: -color-button-bg;
  -color-button-bg-pressed: -color-button-bg;
  -fx-border-color: -color-button-bg;
}

#moreButton {
  -fx-padding: 3 30;

  -fx-background-color: transparent;
  -fx-border-color: -color-chart-6-alpha70;
  -color-button-fg: -color-chart-6-alpha70;

  &:hover {
    -fx-background-color: -color-chart-6-alpha20;
    -fx-border-color: -color-chart-6-alpha70;
  }

  .context-menu, .menu-item {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
  }
}

.logArea {
  -fx-font-family: "Lucida Console";
  -fx-font-size: 15;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-padding: 5 15 5 15;
  -fx-background-color: -color-neutral-muted;
}