/**************************************************
 * Setup View
**************************************************/

#setupView {
  .check-box {
    -fx-font-size: 15;
  }

  .proxy-panel {
    -fx-background-color: -color-neutral-muted;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 5;

    .radio-button {
      -fx-background-color: transparent;
    }
  }

  .proxy-label {
    -fx-font-size: 15;
    -fx-text-fill: -color-accent-5;
    -fx-text-alignment: CENTER;
  }
}

